<%= form_for(@status) do |f| %>
<div class="field">
    <%= f.label :Quoi_de_neuf_? %><br />
    <%= f.text_field :post %>
  </div>
<div class="actions" id="refreshstatus">
    <%= f.submit("Publier") %>
  </div>
<% end %>
